$default-font-size: 16px;
$color-primary: rgb(216, 115, 0);
$color-secundary: #fff;
$color-danger: rgb(180, 0, 0);
// fonts
$headingFont: 'Roboto', sans-serif;
$bodyFont: 'Nunito', sans-serif;

// colors
$lightBlue: #007c48;
